PORT=3004
DATABASE_URL=postgres://payments_user:payments_pass@localhost:5436/payments_db
RABBITMQ_URL=amqp://localhost:5672
ORDERS_SERVICE_URL=http://localhost:3003
PRODUCTS_SERVICE_URL=http://localhost:3002
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
STRIPE_PUBLISHABLE_KEY=pk_test_xxx
